<!DOCTYPE html>
<html>
<head>
	<title>Table Backbone</title>
	<meta charset="utf-8">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="hero-unit span8" id="tables"></div>
</div>

<script type="text/template" id="ViewTables">
    <h2>Мои ингридиенты</h2>
    <button class="btn btn-success addObject">Добавить</button>
    <button class="btn btn-info toJSON">to JSON</button>
    <table class="table table-striped">
        <thead>
        <th data-sort="name">Name</th>
        <th data-sort="summ">Summ</th>
        <th data-sort="count">Count</th>
        <th>Actions</th>
        </thead>
        <tbody class="tablesList"></tbody>
    </table>
    <div class="tablesTotal">
        Количество: <span class="tables-count">0</span>
        Сумма: <span class="tables-summ">0</span>
    </div>
    <pre class="json-out"></pre>
</script>



<script type="text/template" id="ViewTable">
    <td class="name" contenteditable="true"><%- name %></td>
    <td class="form-horizontal">
        <button data-rel="-1" class="changeSumm btn btn-small btn-primary">-</button>
        <input class="summ" type="number" value="<%- summ %>" style="width: 40px;">
        <button data-rel="1" class="changeSumm btn btn-small btn-success">+</button>
    </td>
    <td class="form-horizontal">
        <button data-cnt="-1" class="changeCount btn btn-small btn-primary">-</button>
        <input class="count" type="number" value="<%- count %>" style="width: 40px;">
        <button data-cnt="1" class="changeCount btn btn-small btn-success">+</button>
    </td>
    <td>
        <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white">X</i></button>
    </td>
</script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/underscore.js"></script>
<script src="assets/js/backbone.js"></script>
<script src="models/ModelTable.js"></script>
<script src="views/ViewTable.js"></script>
<script src="views/ViewTables.js"></script>
<script src="main.js"></script>

</body>
</html>